.frame {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  margin: auto; /* Центрування рамки по горизонталі */
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  display: flex; /* Використання flexbox для вирівнювання контенту */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/gameField.jpg") no-repeat center center fixed;
  background-size: cover;
}

.button-container {
  display: flex; /* Використання flexbox для розташування кнопок */
  flex-direction: column; /* Розташування кнопок вертикально */
  align-items: center; /* Вирівнювання кнопок по центру горизонтально */
  gap: 40px;
}

.button-main {
  background-color: #b00;
  color: #fff5f5;
  font-size: 42px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative; /* Відносне позиціонування для майбутніх елементів */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Розташування елементів кнопки по краях */
}

.button-ruls {
  border-color: red;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
}

.button-main:hover {
  background-color: #d60000;
}

.button-ruls:hover {
  background-color: #ffffff;
}