body {
    font-family: Arial, sans-serif;
    margin-top: 100px;

}

.team-head {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

    font-size: 24px;
    color: #ffffff;
}

.top-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60px;
    background-color: #570f0f;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #faf7f7;
}

.game-id{
    background: none;
    border: none;
    font-size: 18px;
    color: #faf7f7;
}

.back:hover {
    color: #000;
}
.game-id {
    font-size: 18px;
    color: #faf7f7;
    background: none;
    border: none;
    cursor: pointer; /* якщо треба вигляд як у кнопки */
    padding: 5px;
    font-weight: normal; /* або bold, щоб виглядати як кнопка */
}

.start-message {
    padding: 10px 30px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #888888;
}

#teams-div {
    margin-top: 30px;
    max-width: 30%;
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
    font-size: 25px;
}

.team-item p {
    margin: 0;
}

.team-item button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.team-item button:hover {
    background-color: #e60000;
}


.team-input {
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    width: 52%; /* або конкретна ширина */
    box-sizing: border-box; /* гарантує, що padding не роздує поле */
}


.team-input {
    text-align: center;
}

.plus {
    position: absolute;
    font-size: 40px;
    background-color: #4c4a4a;
    color: white;
    padding: 5px;
    left: 0;
    width: 52%;
    margin: 60px auto 5px;
    cursor: pointer;
    border: none;
}

.plus:hover {
    background-color: #5a5858;
}

.next-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%;
    font-size: 25px;
    background-color: #570f0f;
    color: white;
    padding: 22px 0;
    border: none;
    cursor: pointer;

}

.next-button:hover {
    background-color: #831d1d;
}


